pipeline/incremental-Single table.json
{
	"name": "incremental-Single table",
	"properties": {
		"activities": [
			{
				"name": "lastupdate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select TableName,isnull(max(WatermarkValue),'2010-01-01 00:00:00.000') as lastruntime from watermarktable\nwhere TableName='orders'\ngroup by TableName",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Onprimesed",
						"type": "DatasetReference",
						"parameters": {
							"table": "watermarktable"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lastupdate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from Orders \nWHERE CreatedDate BETWEEN CAST('@{activity('lastupdate').output.firstRow.lastruntime}' as DATETIME) and cast('@{activity('current').output.firstRow.currenttime}' as DATETIME)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Onprimesed",
						"type": "DatasetReference",
						"parameters": {
							"table": "orders"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"name": {
								"value": "@concat('Increment load-',formatDateTime(utcNow(),'yyyy-MM-dd_HHmmss'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "current",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select GETDATE() as currenttime",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Onprimesed",
						"type": "DatasetReference",
						"parameters": {
							"table": "current"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertWatermarkValue]",
					"storedProcedureParameters": {
						"TableName": {
							"value": "orders",
							"type": "String"
						},
						"Timestamp": {
							"value": {
								"value": "@activity('current').output.firstRow.currenttime",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Task-5"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-20T09:42:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}