pipeline/parameters.json
{
	"name": "parameters",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "sql_server",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sql_server",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.destination.serverName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "database",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sql_database",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.destination.databaseName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "tablename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sql_table",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.destination.tableName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "blob_folder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "blob_folder",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.source.adlsPath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "blob_filename",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.source.fileName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "sql_server",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "database",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "tablename",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "blob_folder",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Parameterized",
						"type": "DataFlowReference",
						"parameters": {
							"folder": {
								"value": "'@{variables('blob_folder')}'",
								"type": "Expression"
							},
							"Filename": {
								"value": "'@{variables('blob_filename')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"sink1": {
								"tablename": {
									"value": "@variables('sql_table')",
									"type": "Expression"
								},
								"servername": {
									"value": "@variables('sql_server')",
									"type": "Expression"
								},
								"database": {
									"value": "@variables('sql_database')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"sql_server": {
				"type": "String"
			},
			"sql_database": {
				"type": "String"
			},
			"sql_table": {
				"type": "String"
			},
			"blob_folder": {
				"type": "String"
			},
			"blob_filename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}